@charset "UTF-8";
* {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0 auto;
  text-decoration: none;
  font-size: 1em;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

@font-face {
  font-family: pacifico;
  src: url(../pacifico/Pacifico-Regular.ttf);
}
@font-face {
  font-family: parisienne;
  src: url(../parisienne/Parisienne-Regular.ttf);
}
.topnav_link {
  font-family: pacifico;
  color: #000;
  padding: 12px;
  text-decoration: none;
  font-size: 0.8em;
}

a {
  display: inline-block;
}

h1,
h2,
h3,
h4,
p,
li,
span {
  font-family: parisienne;
  font-weight: bold;
  font-size: 1.06em;
  line-height: 1.8;
}

.explain h1,
.explain h2,
.explain h3,
.explain h4 {
  text-align: center;
}

h1 {
  font-size: 2.2em;
  margin: auto;
}

h2,
h3 {
  font-size: 2em;
  margin: 25px 0;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ******************** NAV BAR ******************** */
.topnav {
  background-color: rgb(255, 123, 246);
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar_title {
  width: 50%;
}

#topnav_menu {
  width: 25%;
  margin: 0;
  text-align: left;
}

span {
  display: block;
  background-color: rgba(0, 120, 180, 0.1);
}

.topnav_link:hover,
span:hover {
  color: #0078b4;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

/* hide responsive menu */
#topnav_hamburger_icon,
#topnav_responsive_menu {
  display: none;
}

.logo {
  width: 15%;
  margin-left: 15px;
}

.logo h {
  width: 30%;
}

@media (max-width: 896px) {
  h1 {
    font-size: 2em;
  }
}
@media (max-width: 500px) {
  h1 {
    padding-left: 30px;
    font-size: 1.8em;
  }
  .logo {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  /* hide classic menu */
  #topnav_menu {
    display: none;
  }
  /* position home link at left and hamburger at right */
  #home_link {
    width: 50%;
  }
  .main {
    flex-direction: column;
  }
  /* disable horizontal scrolling  */
  #root {
    position: relative;
    overflow-x: hidden;
  }
  /* show responsive menu and position at the right of the screen */
  #topnav_responsive_menu {
    display: block;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    transform-origin: 0% 0%;
    transform: translate(200%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #topnav_responsive_menu ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    min-width: 50vw;
    height: 100vh;
    padding: 56px 0 0;
    text-align: center;
    background: rgba(237, 237, 237, 0.75);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  }
  #topnav_responsive_menu li {
    padding: 12px 24px;
  }
  #topnav_responsive_menu a {
    white-space: nowrap;
    color: #333;
    text-decoration: none;
  }
  /* And let's slide it in from the right */
  #topnav_responsive_menu.open {
    transform: none;
    position: fixed;
  }
  /* ******************** HAMBURGER ICON ******************** */
  /* define size and position of the hamburger link */
  #topnav_hamburger_icon {
    display: block;
    position: relative;
    margin: 16px;
    width: 33px;
    height: 28px;
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
    cursor: pointer;
  }
  /* define the style (size, color, position, animation, ...) of the 3 spans */
  #topnav_hamburger_icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;
    background: #ededed;
    border-radius: 3px;
    z-index: 100;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  /* set the 3 spans position to look like a hamburger */
  #topnav_hamburger_icon span:nth-child(1) {
    top: 0px;
    transform-origin: left top;
  }
  #topnav_hamburger_icon span:nth-child(2) {
    top: 12px;
    transform-origin: left center;
  }
  #topnav_hamburger_icon span:nth-child(3) {
    top: 24px;
    transform-origin: left bottom;
  }
  /* change color when opening the menu */
  #topnav_hamburger_icon.open span {
    background: #333;
  }
  /* the first span rotates 45° \ */
  #topnav_hamburger_icon.open span:nth-child(1) {
    width: 100%;
    transform: rotate(45deg);
  }
  /* the second span disappears */
  #topnav_hamburger_icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  /* the last span rotates -45° / */
  #topnav_hamburger_icon.open span:nth-child(3) {
    width: 110%;
    transform: rotate(-45deg);
  }
}
/**************************************************MAIN***********************************/
.main {
  display: flex;
  width: 100%;
  padding: 0 25px;
  margin-top: 150px;
}

.main_content,
.main_picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 25px 0;
}

.main_picture:first-child {
  background-color: rgba(255, 123, 246, 0.5);
}

.location,
.main_tarif {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px 25px;
  align-items: center;
}

.location h2 {
  text-align: center;
}

/*****************************FOOTER***********************************/
footer {
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  background-color: #e4d8d8;
  font-size: 2.5em;
}

#btn {
  padding: 15px;
  background-color: rgb(255, 123, 246);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(93, 2, 87, 0.75);
}/*# sourceMappingURL=style.css.map */